@font-face {
    font-family: 'OpenSans Condensed Bold';
    src: url('../fonts/open-sans-condensed/OpenSans-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Condensed Light';
    src: url('../fonts/open-sans-condensed/OpenSans-CondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Condensed Light Italic';
    src: url('../fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html{
    background: url("/img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



/* nav container */

.nav-container {
    width: 320px;
    height: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 50px;
}

/*nav section centered verticaly*/

.main-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-menu li {
    width: 100%;
    position: relative;
    display: block;
    padding: 0;
    margin: 5px 0;
}

.main-menu li a {
    width: 100%;
    display: block;
    margin: 0.6em 0;
    color: #212529;
    text-decoration: none;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    text-align: center;
}

.main-menu li a.active {
    font-weight: 700;
}

.main-menu li a:hover{
    color: #d81437;
}

.main-menu li a:hover:before,
.main-menu li a.active:before {
    opacity: 1;
    visibility: visible;
}


.main-menu li a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    top: 0;
    background: #d81437;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}

/* separator between each li on direct child of .mainmenu to exclude sub-menu (li ul li ul ...) */
.main-menu > li > a:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: #ddd;
    left: 0;
    top: 100%;
    transform: translateX(50%);
}

/*disable line for the last of the list*/
.main-menu li:last-child a:after {
    display: none;
}

/* sub menu made it appear on right on hover*/
.main-menu li ul,
.main-menu li ul li ul {
    position: absolute;
    height: auto;
    min-width: 200px;
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    /*border-top: 4px solid #e67e22;*/
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    /*top: 130px;*/
    z-index: 1000;

    left:320px;
    top: 0px;
}

/* appear when parent hover*/
.main-menu li:hover > ul,
.main-menu li ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 0;
}

/* sub menu list*/
.main-menu li ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.main-menu li ul li a {
    width: 100%;
    display: block;
    margin: 0;
    color: #212529;
    text-decoration: none;
    text-align: left;
    padding: 10px 0 10px 20px;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}

.main-menu li ul li a:hover {
    color: #d81437;
}

.main-menu li ul li a:hover:before {
    opacity: 1;
    visibility: visible;
}

.main-menu li ul li:last-child a:after {
    display: none;
}

/*bottom-section*/

.bottom-section {
    width: 100%;
    margin-top: auto;
    background: #656565;
}

.bottom-section .line{
    background: #999999;
}

.bottom-section .adresse {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    display: block;
}

.bottom-section .adresse  p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.bottom-section .adresse a {
    color: #fff;
    text-decoration: none;
}

.bottom-section .adresse a:hover {
    color: #d81437;
}

.bottom-section .line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-section .line .lang,
.bottom-section .line .loc,
.bottom-section .line .mail {
    width: 50px;
    height: 41px;
    background: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section .line .lang,
.bottom-section .line .mail {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}

.bottom-section .line .loc{
    background-color: #656565;
    height: 42px;
}

.bottom-section .line .phone {
    width: calc(100% - 150px);
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.bottom-section .line .phone a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/*social media icons*/
.bottom-section .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.bottom-section .social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #fff;
    text-decoration: none;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}

.bottom-section .social-media a:hover {
    background-color: #fff;
}

.bottom-section .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-section .social-media .follow {
    color: #656565;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 5px 10px 15px;
}

.bottom-section .social-media .social-ico {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section .social-media .social-ico a {
    margin: 0 10px;
}

/* content section */

.content-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-section .left {
    width: 30%;
    padding-left: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* right */
.content-section .right {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section .right .top {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    justify-content: space-between;
    align-items: center;
}

.content-section .right .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

/* cro style section*/
.cro-white {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
}

.cro-white .cro-container {
    max-width: 100%;
    padding: 0 2% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*Cro title with red bar on the left of the title using ::before*/
.cro-white .cro-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cro-white .cro-title h2 {
    font-size: 25px;
    font-family: 'Open Sans Condensed Light', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.cro-white .cro-title::before {
    content: "";
    width: 5px;
    height: 25px;
    display: flex;
    background-color: #d81437;
    justify-content: center;
    align-items: center;
}

/*cro content*/
.cro-white .cro-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cro-white .cro-content p {
    font-size: 18px;
    text-align: justify;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

/* Alert */
.alert {
    width: 100%;
    height: 100%;
    background-color: rgb(216, 20, 55);
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.alert .alert-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2% 1% 3%;
    color: #ffffff;
}

.alert-container .alert-title h3 {
    font-size: 30px;
    font-family: 'Open Sans Condensed Light', sans-serif;
    text-transform: UpperCase;
    font-weight: bold;
    margin-block-start: 0.3em;
    margin-block-end: 0.1em;
}

.alert-container .alert-title span {
    font-size: 18px;
    font-family: 'Open Sans Light', sans-serif;
    text-align: justify;
    font-weight: lighter;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

/* Booking section*/

.booking {
    width: 320px;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 7%;
}

.booking .booking-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* booking title */
.booking .booking-container .booking-title {
    width: 100%;
    height: 100%;
    background-color: rgb(216, 20, 55);
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-bottom: 5px;
}

.booking-container .booking-title h3 {
    font-size: 25px;
    font-family: 'Open Sans Light', sans-serif;
    text-transform: UpperCase;
    font-weight: lighter;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin: auto;
}

/*icon on left*/
.booking-container .booking-title .icon {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 15px;
}

.booking-container .sub-title {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* booking title */
.booking-container .sub-title h4{
    width: 60%;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    margin: 2% 5%;
}

.booking-container .sub-title::before,
.booking-container .sub-title::after {
    content: "";
    width: 20%;
    height: 1px;
    background-color: rgb(39, 43, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* booking content*/
.booking .booking-container .booking-content {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.booking-content .booking-content-col{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-content .booking-content-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.booking-content-col .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #050304;
    color: #ffffff;
    justify-content: left;
    align-items: center;
    padding: 0.1em 0;
}

.booking-content-col .title h4 {
    font-size: 11px;
    font-family: 'Open Sans Light', sans-serif;
    text-transform: UpperCase;
    font-weight: lighter;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.booking-content-col .title .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 5px;
}

.booking-content-col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.booking-content-col-content{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.booking-content-col-content h5{
    font-size: 35px;
    font-family: 'OpenSans Condensed Bold', sans-serif;
    text-transform: UpperCase;
    font-weight: bold;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin: 0 5%;
}

.booking-content-col-content span{
    font-size: 14px;
    font-family: 'OpenSans Condensed Light', sans-serif;
    font-weight: lighter;
    margin: 0 5%;
}

.booking-content-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.booking-content-row .icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: #050304;
}

.booking-content-row .booking-content-row-content{
    font-family: "OpenSans Condensed Bold", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5%;
}

.booking-content-row + .booking-content-row {
    margin-top: 5%;
}

/* booking button*/
.booking .booking-container .booking-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.booking-button button {
    width: 100%;
    height: 100%;
    background-color: rgb(216, 20, 55);
    color: #ffffff;
    border: none;
    font-family: 'OpenSans Condensed Bold', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: UpperCase;
    padding: 0.5em 0;
    margin: 0 5%;
}
